@using Microsoft.AspNetCore.Components.Web
@namespace BlazorServerApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Witeem</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <base href="~/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="BlazorServerApp.styles.css" rel="stylesheet" />
    <link href="_content/Masa.Blazor/css/masa-blazor.css" rel="stylesheet" />
    <link href="_content/Masa.Blazor/css/masa-extend-blazor.css" rel="stylesheet" />
    <link href="css/masa-blazor-pro.css" rel="stylesheet" />
    <!--重置浏览器样式-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
    <!--代码块主题-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism-coy.min.css">
    <!--工具栏插件-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/toolbar/prism-toolbar.min.css">
    <!--行号插件-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/line-numbers/prism-line-numbers.min.css">

    <link href="https://cdn.jsdelivr.net/npm/@("@mdi")/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.masastack.com/npm/materialicons/materialicons.css" rel="stylesheet">
    <link href="https://cdn.masastack.com/npm/fontawesome/v5.0.13/css/all.css" rel="stylesheet">
    <component type="typeof(HeadOutlet)" render-mode="Server" />
</head>

<body>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorComponent/js/blazor-component.js"></script>
    <script src="https://cdn.masastack.com/npm/echarts/5.1.1/echarts.min.js"></script>
    <script src="/js/CookieStorage.min.js"></script>
    <!--prism核心js (用于渲染代码块)-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/prism.min.js"></script>
    <!--显示代码块行号-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <!--工具栏(一些插件的前置依赖)-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <!--代码块显示语言名称-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/show-language/prism-show-language.min.js"></script>
    <!--复制代码-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <!--自动去cdn加载对应语言的代码高亮js-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/autoloader/prism-autoloader.min.js"></script>
    @RenderBody()
</body>
</html>
