<MRow Class="ma-auto hover-pointer">
    <MCol OffsetSm="0">
        @foreach (var item in _items)
        {
            <MCard Class="mb-3" Link Href="@("/DataDetail/" + @item.Id)" Flat>
                <MCardTitle Class="mb-1">
                    <MAvatar>
                        <MImage Src="@item.Avatar"></MImage>
                    </MAvatar>
                    <span class="mr-4"> </span>
                    @item.Title
                </MCardTitle>
                <MCardSubtitle><span class="font-weight-bold">@item?.SubTtile</span></MCardSubtitle>
            </MCard>
        }
    </MCol>
</MRow>