@page "/DataDetail"
@page "/DataDetail/{Id}"
@layout EmptyLayout

<MCard Height="200" Light Flat>
    <MToolbar Prominent Extended Elevation=1>
        <MButton Icon Link Href="/"
                 Class="hidden-xs-only">
            <MIcon>mdi-arrow-left</MIcon>
        </MButton>
        <MToolbarTitle>Witeem</MToolbarTitle>

        <MSpacer></MSpacer>

        <MButton Icon>
            <MIcon>mdi-magnify</MIcon>
        </MButton>

        <MButton Icon>
            <MIcon>mdi-heart</MIcon>
        </MButton>

        <MButton Icon>
            <MIcon>mdi-dots-vertical</MIcon>
        </MButton>
    </MToolbar>
</MCard>
<div class="d-flex justify-center mb-6" style="height:calc(100% - 200px)">
    <div class="col-md-8 line-numbers">
        @if (_hasXss)
        {
            @_postHtmlContent.ToString();
        }
        else
        {
            @_postHtmlContent
        }
    </div>
</div>