@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1651218218808') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-m {
    font-size: 22px;
}

.iconfont-l {
    font-size: 28px;
}

.iconfont:hover {
    color: cornflowerblue;
}

.num-hover:hover {
    color: cornflowerblue;
}

.icon-shoucang:before {
    content: "\e86d";
}

.icon-sousuo:before {
    content: "\e86e";
}

.icon-fenxiang:before {
    content: "\e86f";
}

.icon-xiaoxi:before {
    content: "\e870";
}

.icon-xihuan:before {
    content: "\e871";
}

.icon-xihuan1:before {
    content: "\e872";
}

.icon-zan:before {
    content: "\e873";
}

.icon-zan1:before {
    content: "\e874";
}

.icon-yueduxiao:before {
    content: "\e87d";
}

.icon-tishi:before {
    content: "\e881";
}

.icon-zanxiao:before {
    content: "\e885";
}

.icon-neirong2:before {
    content: "\e889";
}

.icon-fujian:before {
    content: "\e88a";
}

.icon-pinglun:before {
    content: "\e891";
}

.icon-saoyisao:before {
    content: "\e892";
}

.icon-shouqijiantouxiao:before {
    content: "\e893";
}

.icon-gouwuche:before {
    content: "\e899";
}

.icon-wode:before {
    content: "\e8a0";
}

.icon-jia:before {
    content: "\e8a6";
}

.icon-shibai:before {
    content: "\e8a9";
}

.icon-shuaxin:before {
    content: "\e8aa";
}

.icon-zhengque:before {
    content: "\e8ad";
}

.icon-fanhuijiantou:before {
    content: "\e8b5";
}

.icon-lishixiao:before {
    content: "\e8bd";
}

.icon-chaxunfancheng:before {
    content: "\e8c8";
}

.icon-zhifubao:before {
    content: "\e8e4";
}

.icon-xialajiantouxiao:before {
    content: "\e907";
}

.icon-shouqijiantouxiao1:before {
    content: "\e908";
}

.icon-quxiaodingdanxiao:before {
    content: "\e933";
}

.icon-baocun:before {
    content: "\e936";
}

.icon-wodexiao:before {
    content: "\e941";
}
