@inherits LayoutComponentBase
@inject NavHelper NavHelper
<MApp>
    <MAppBar Absolute Elevation=0 MaxHeight=250 Height=250 Class="ml-8 mr-8 rounded-2" Color="#6A76AB" Src="images/bg.jpg" Dark FadeImgOnScroll Prominent App>
         <ImgContent>
            <MImage Gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)" @attributes="@context"></MImage>
        </ImgContent>
        <ChildContent>
            <MAppBarTitle Class="white--text ml-6 mb-4">工欲善其事，必先利其器</MAppBarTitle>
            <MSpacer></MSpacer>
            @if (_isLogin)
            {
                <MMenu Bottom MinWidth="200" OffsetY Class="rounded-b-2">
                    <ActivatorContent>
                        <MButton Icon Large @attributes="context.Attrs">
                            <MAvatar Size="48">
                                <MImage Src="@_userInfo?.Picture" Alt="@_userInfo?.Name"></MImage>
                            </MAvatar>
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <MCard>
                            <MListItemContent Class="justify-center">
                                <div class="mx-auto text-center">
                                    <MAvatar Size="48">
                                        <MImage Src="@_userInfo?.Picture" Alt="@_userInfo?.Name"></MImage>
                                    </MAvatar>
                                    <h5>@_userInfo?.Name</h5>
                                    <p class="text-caption mt-1">@_userInfo?.NickName</p>
                                    <MDivider class="my-3"></MDivider>
                                    <MButton Depressed Rounded Text Small OnClick="Logout">Logout</MButton>
                                </div>
                            </MListItemContent>
                        </MCard>
                    </ChildContent>
                </MMenu>
            }
            else
            {
                <MMenu Bottom MinWidth="200" Rounded="@true" OffsetY>
                    <ActivatorContent>
                        <MButton Icon OnClick="Login"><MIcon Color="#fff">mdi-account-circle-outline</MIcon></MButton>
                    </ActivatorContent>
                </MMenu>
            }
        </ChildContent>
    </MAppBar>
    <MNavigationDrawer Fixed Permanent Width=330 App>
        <MCard Class="mx-auto mt-10 mb-10" MaxWidth="232" Flat>
            <ChildContent>
                <MAvatar Size=200>
                    <MImage Src="/images/witeem.png" Alt="Jack"></MImage>
                </MAvatar>
                <MCardTitle>@(_bloggerInfo?.Blogger ?? "")</MCardTitle>
                <MCardText>
                    <div>@(_bloggerInfo?.Details ?? "")</div>
                </MCardText>
            </ChildContent>
        </MCard>
        <MCard Class="mx-auto" MaxWidth="320" Flat Light>
            <iframe width="320" height="400" frameborder="0" scrolling="no" hspace="0" src="/html/WeatherSDK.html"></iframe>
        </MCard>
    </MNavigationDrawer>
    <MMain Class="fill-lighten-1" Style="padding-top:240px">
        <div class="pa-6 max-width">
            @Body
        </div>
    </MMain>
</MApp>