@inherits ProCompontentBase
@inject NavHelper NavHelper
@{
    var navs = GetNavs(SearchContent);
}

<MMenu OffsetY Bottom Right CloseOnContentClick="false" MinWidth=340 ContentClass="@(string.IsNullOrEmpty(SearchContent) ? "hide-shadow":"")">
    <ActivatorContent>
        <div @attributes="@context.Attrs">
            <MTextField @bind-Value="SearchContent" Class="rounded-2" Style="width:340px;height:40px;" Flat Dense Solo HideDetails="@("auto")" Placeholder="Search">
                <PrependInnerContent>
                    <MButton Icon Color="indigo" Small>
                        <MIcon Size=16 Class="mr-1 neutral-lighten-1--text hover-pointer">mdi-magnify</MIcon>
                    </MButton>
                </PrependInnerContent>
            </MTextField>
        </div>
    </ActivatorContent>
</MMenu>